* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", " Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #d9dad7;
}

.album_title {
  color: #961585;
  font-size: 20px;
  margin: 15px;
  list-style: circle;
}

.album_title:hover {
  color: #3e4a61;
}

button {
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #8414e4, #e070bf);
  color: #fff;
}

button:hover {
  background: linear-gradient(to right, #9553e7, #e385c6);
  background-color: #9553e7;
}

button:active {
  transform: scale(0.95);
}
